In [1]:
# The following is to know when this notebook has been run and with which python version.
import time, sys
print(time.ctime())
print(sys.version.split('|')[0])

Mon Mar 24 17:49:03 2025
3.12.9

In [14]:
import numpy as np
import scipy

# F Some useful libraries that make life easier

This is part of the Python lecture given by Christophe Morisset at IA-UNAM.

This lecture will give some insights to the most useful python libraries. It is NOT exhaustive, you have to read the corresponding manual pages to find the best use you can have of them. The list of all python-included libraries is here: https://docs.python.org/3/library/

### time, datetime and timeit

*  https://docs.python.org/3/library/time.html
*  https://docs.python.org/3/library/datetime.html

In [3]:
import time
import datetime

In [4]:
print(time.ctime()) # current time, in a string format

Mon Mar 24 17:49:05 2025

In [5]:
lt = time.localtime()
print(lt)

time.struct_time(tm_year=2025, tm_mon=3, tm_mday=24, tm_hour=17, tm_min=49, tm_sec=6, tm_wday=0, tm_yday=83, tm_isdst=0)

In [6]:
time.strftime("%a, %d %b %Y %H:%M:%S",lt)

'Mon, 24 Mar 2025 17:49:06'

In [7]:
print(datetime.datetime.today())

2025-03-24 17:49:11.377235

In [8]:
today = datetime.date.today()
eclipse_total = datetime.date(2024, 4, 8)

In [9]:
time_to_eclipse = eclipse_total - today

In [10]:
if eclipse_total > today:
    print('Eclipse in {} days.'.format(time_to_eclipse.days))
else:
    print('Eclipse {} days ago.'.format(-time_to_eclipse.days))

Eclipse 350 days ago.

In [17]:
start = time.time()
for i in np.arange(1000):
    t = scipy.special.factorial(i)
end = time.time()
print('1000 factorials done in {0:.3f} secs.'.format(end-start))

1000 factorials done in 2.750 secs.

In [21]:
from timeit import Timer
command = """\
for i in range(1000):
    t = scipy.special.factorial(i)
"""
t = Timer(command, setup='import scipy')
print(t.timeit(number=10))

0.38237258698791265

in ipython, one can use the magic timeit function:

In [22]:
%timeit scipy.special.factorial(50)

15.2 μs ± 488 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

or for the whole cell:

In [23]:
%%timeit
for i in np.arange(1000):
    t =  scipy.special.factorial(i)

12.3 ms ± 67.8 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### os

https://docs.python.org/3/library/os.html 
This module provides a portable way of using operating system dependent functionality. If you just want to read or write a file see open(), if you want to manipulate paths, see the os.path module, and if you want to read all the lines in all the files on the command line see the fileinput module. For creating temporary files and directories see the tempfile module, and for high-level file and directory handling see the shutil module.

In [24]:
import os

In [25]:
# os.environ is a dictionnary containing the environment variables and values
if 'HOME' in os.environ:
    print(os.environ['HOME'])
else:
    print('This OS is too limited to understand HOME')

/Users/christophemorisset

In [26]:
# if variable doesn't exists, getenv returns None
print(os.getenv('HOMMMMMME'))

None

In [27]:
# get current working directory
cwd = os.getcwd()
print(cwd)
print(cwd.split('/')[-1])

/Users/christophemorisset/Google Drive/Pro/Python-MySQL/Python-lectures-Notebooks/Notebooks
Notebooks

In [28]:
new_dir = '/tmp/test3457'
if not os.path.exists(new_dir):
    os.mkdir(new_dir)
    print('Dir {} created'.format(new_dir))
else:
    print('Dir {} exists'.format(new_dir))

Dir /tmp/test3457 created

In [29]:
# list all the files from a directory
os.listdir(new_dir)

[]

In [30]:
os.chdir(new_dir)
os.getcwd()

'/private/tmp/test3457'

In [35]:
# Renaming files in a directory
os.chdir('/tmp')
open('a.txt', 'a').close()
open('b.txt', 'a').close()
open('c.text', 'a').close()
for filename in os.listdir('./'):
    #print(filename)
    base_file, ext = os.path.splitext(filename)
    #print(base_file, ext)
    if ext == '.txt':
        newname = base_file + '.exe'
        try:
            os.rename(filename, newname)
            print('file {0} renamed to {1}'.format(filename, newname))
        except:
            print('file {0} NOT renamed'.format(filename))
print('-'*20)
!ls
os.chdir(cwd)

file b.txt renamed to b.exe
file a.txt renamed to a.exe
--------------------
Acrobat-684e4b52b2b80a7b410a0f9d67cc3b9b
Firefox-Cache
MozillaUpdateLock-2656FF1E876E9973
UpdateLock-712DAF5A23ABECDC
a.exe
b.exe
c.text
com.adobe.Acrobat.tmp.sbx
com.apple.launchd.SHwYMhf4LH
drivefs_ipc.501
drivefs_ipc.501_shell
powerlog
test3457

### glob

https://docs.python.org/3/library/glob.html

No tilde expansion is done, but *, ?, and character ranges expressed with [] will be correctly matched.

In [36]:
from glob import glob

In [37]:
os.chdir(cwd)

In [38]:
cwd

'/Users/christophemorisset/Google Drive/Pro/Python-MySQL/Python-lectures-Notebooks/Notebooks'

In [39]:
ipynb_files = glob('*.ipynb')
print(ipynb_files)

['Calling Fortran.ipynb', 'Galaxies_classification.ipynb', 'Test-Install.ipynb', 'Using_SQLalchemy.ipynb', 'intro_Scipy.ipynb', 'ANN.ipynb', 'Ex1_with_res.ipynb', 'Parallel.ipynb', 'OOP.ipynb', 'Using_astropy.ipynb', 'Tarea_1.ipynb', 'Interact with files.ipynb', 'Useful_libraries.ipynb', 'intro_numpy.ipynb', 'intro_Python.ipynb', 'Redshifts_ai4neb.ipynb', 'Ex1_done.ipynb', 'Ex1.ipynb', 'intro_Matplotlib.ipynb', 'Optimization.ipynb', 'Evaluacion.ipynb', 'Redshifts.ipynb', 'Using_astroquery.ipynb']

glob is also included in pathlib, better use it from there:

### pathlib

In [42]:
from pathlib import Path

In [43]:
new_dir = Path('/tmp/test1236')
print(new_dir)
print(new_dir.name)
print(new_dir.parent)

/tmp/test1236
test1236
/tmp

In [44]:
new_dir = Path('/tmp') / Path('test1236')
print(new_dir)
print(new_dir.name)
print(new_dir.parent)

/tmp/test1236
test1236
/tmp

In [45]:
if not new_dir.exists():
    new_dir.mkdir() # may use exist_ok=True
    print('Dir {} created'.format(new_dir))
else:
    print('Dir {} exists'.format(new_dir))

Dir /tmp/test1236 created

In [46]:
current = Path('.')
for f in current.glob('*.ipynb'):
    print(f"{f} is {f.stem} + {f.suffix}")

Calling Fortran.ipynb is Calling Fortran + .ipynb
Galaxies_classification.ipynb is Galaxies_classification + .ipynb
Test-Install.ipynb is Test-Install + .ipynb
Using_SQLalchemy.ipynb is Using_SQLalchemy + .ipynb
intro_Scipy.ipynb is intro_Scipy + .ipynb
ANN.ipynb is ANN + .ipynb
Ex1_with_res.ipynb is Ex1_with_res + .ipynb
Parallel.ipynb is Parallel + .ipynb
OOP.ipynb is OOP + .ipynb
Using_astropy.ipynb is Using_astropy + .ipynb
Tarea_1.ipynb is Tarea_1 + .ipynb
Interact with files.ipynb is Interact with files + .ipynb
Useful_libraries.ipynb is Useful_libraries + .ipynb
intro_numpy.ipynb is intro_numpy + .ipynb
intro_Python.ipynb is intro_Python + .ipynb
Redshifts_ai4neb.ipynb is Redshifts_ai4neb + .ipynb
Ex1_done.ipynb is Ex1_done + .ipynb
Ex1.ipynb is Ex1 + .ipynb
intro_Matplotlib.ipynb is intro_Matplotlib + .ipynb
Optimization.ipynb is Optimization + .ipynb
Evaluacion.ipynb is Evaluacion + .ipynb
Redshifts.ipynb is Redshifts + .ipynb
Using_astroquery.ipynb is Using_astroquery + .ipynb

In [65]:
new_dir = Path('/tmp') / Path('test1236')
for f in new_dir.glob('test*.txt*'):
    f.unlink() # remove file

f = new_dir / Path('test1234.txt')
f.touch()
f = new_dir / Path('test5678.txt')
f.touch()
print([f.name for f in new_dir.glob('test*.txt*')])

for f in new_dir.glob('test*.txt'):
    new_f = f.with_suffix('.txt2')
    if not new_f.exists():
        f.rename(new_f)
    else:
        print('{} exists'.format(new_f))

print([f.name for f in new_dir.glob('test*.txt*')])

['test5678.txt', 'test1234.txt']
['test1234.txt2', 'test5678.txt2']

### sys

https://docs.python.org/3/library/sys.html
This module provides access to some variables used or maintained by the interpreter and to functions that interact strongly with the interpreter. It is always available.

The sys.argv list contains the arguments passed to the script, when the interpreter was started. The first item contains the name of the script itself.

In [66]:
%%writefile sys_text.py
import sys
for arg in sys.argv:
    print(arg)

Overwriting sys_text.py

In [67]:
!cat sys_text.py

import sys
for arg in sys.argv:
    print(arg)

In [68]:
! python sys_text.py tralala trololo

sys_text.py
tralala
trololo

In [73]:
%%writefile fact.py
import sys
import scipy
print(scipy.special.factorial(int(sys.argv[1])))

Overwriting fact.py

In [74]:
! python fact.py 60

8.32098711274139e+81

A more complete managment of the argument (especially those like --v) is available using the argparse library. https://docs.python.org/3/library/argparse.html

### Talking to the OS subprocess

The os.popen method is deprecated, subprocess is prefered. A good tutorial is here: http://pymotw.com/3/subprocess/

In [75]:
import subprocess

In [84]:
var0 = subprocess.run(['ls', '-l'])

total 134136
-rw-------  1 christophemorisset  staff    735972 Feb 11 09:43 ANN.ipynb
-rw-------  1 christophemorisset  staff    173771 Feb 11 09:43 ANN_1_2.png
-rw-------  1 christophemorisset  staff     20137 Feb 11 09:43 Calling Fortran.ipynb
-rw-------  1 christophemorisset  staff     86815 Feb 11 09:43 Calling Fortran.pdf
-rw-------  1 christophemorisset  staff   3600128 Feb 11 09:43 DR9_photo-z-small.npy
-rw-------  1 christophemorisset  staff       217 Feb 25 12:46 Demo.pickle
-rw-------  1 christophemorisset  staff       194 Feb 25 12:45 Demo.pklz
-rw-------  1 christophemorisset  staff       445 Feb 11 09:43 Evaluacion.ipynb
-rw-------  1 christophemorisset  staff      7717 Feb 11 09:43 Ex1.ipynb
-rw-------  1 christophemorisset  staff    381664 Feb 11 09:43 Ex1_done.ipynb
-rw-------  1 christophemorisset  staff    315341 Feb 11 09:43 Ex1_with_res.ipynb
-rw-------  1 christophemorisset  staff    120910 Mar 11 11:13 Fig1.pdf
-rw-------  1 christophemorisset  staff     23342 Feb 11 09:43 Galaxies_classification.ipynb
-rw-------  1 christophemorisset  staff   1177040 Feb 11 09:43 HII.dat
-rw-------  1 christophemorisset  staff    853215 Feb 11 09:43 InstallPython.key
-rw-------  1 christophemorisset  staff    709810 Mar 11 16:57 Interact with files.ipynb
-rw-------  1 christophemorisset  staff    432747 Feb 11 09:43 Interact with files.pdf
-rw-------  1 christophemorisset  staff    131497 Feb 11 09:43 Intro_1.odp
-rw-------  1 christophemorisset  staff    174202 Feb 11 09:43 Intro_1.pdf
-rw-------  1 christophemorisset  staff    130234 Feb 11 09:43 Intro_2014.odp
-rw-------  1 christophemorisset  staff   1477306 Feb 11 09:43 Machine Learning.pdf
-rw-------  1 christophemorisset  staff   1698962 Feb 11 09:43 MySQL 2.pdf
-rw-------  1 christophemorisset  staff    108782 Feb 11 09:43 MySQL.pdf
-rw-------  1 christophemorisset  staff   1166839 Feb 11 09:43 OOP.ipynb
-rw-------  1 christophemorisset  staff    536767 Feb 11 09:43 OOP.pdf
-rw-------  1 christophemorisset  staff     98792 Feb 11 09:43 Optimization.ipynb
-rw-------  1 christophemorisset  staff    481656 Feb 11 09:43 Optimization.pdf
-rw-------  1 christophemorisset  staff      2537 Feb 11 09:43 Parallel.ipynb
-rw-------  1 christophemorisset  staff    158652 Feb 11 09:43 Redshifts.ipynb
-rw-------  1 christophemorisset  staff    939003 Feb 11 09:43 Redshifts_ai4neb.ipynb
-rw-------  1 christophemorisset  staff      6120 Feb 11 09:43 Tarea_1.ipynb
-rw-------  1 christophemorisset  staff      1434 Feb 11 09:43 Test-Install.ipynb
-rw-------  1 christophemorisset  staff    723729 Mar 24 18:15 Useful_libraries.ipynb
-rw-------  1 christophemorisset  staff    514073 Feb 11 09:43 Useful_libraries.pdf
-rw-------  1 christophemorisset  staff    120874 Feb 11 09:43 Using_SQLalchemy.ipynb
-rw-------  1 christophemorisset  staff     80302 Feb 11 09:43 Using_SQLalchemy.pdf
-rw-------  1 christophemorisset  staff    253353 Feb 11 09:43 Using_astropy.ipynb
-rw-------  1 christophemorisset  staff    208399 Feb 11 09:43 Using_astropy.pdf
-rw-------  1 christophemorisset  staff     93320 Feb 11 09:43 Using_astroquery.ipynb
-rw-------  1 christophemorisset  staff     70028 Feb 11 09:43 Using_astroquery.pdf
drwx------  5 christophemorisset  staff       160 Feb 13 09:15 __pycache__
-rw-------  1 christophemorisset  staff       114 Feb 11 09:43 call_test_2_err.py
-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-early.npy
-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-late.npy
-rw-------  1 christophemorisset  staff        65 Feb 25 10:15 data1.dat
-rw-------  1 christophemorisset  staff        14 Feb 25 12:22 data10.dat
-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat
-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat.gz
-rw-------  1 christophemorisset  staff       148 Feb 25 12:32 data12.dat
-rw-------  1 christophemorisset  staff       148 Feb 25 10:39 data2.dat
-rw-------  1 christophemorisset  staff       165 Feb 25 11:42 data3.dat
-rw-------  1 christophemorisset  staff      1188 Feb 25 12:09 data4.dat
-rw-------  1 christophemorisset  staff      1186 Feb 25 12:11 data5.dat
-rw-------  1 christophemorisset  staff       298 Feb 11 09:43 dcumsum.f
-rw-------  1 christophemorisset  staff      1206 Feb 11 11:36 ex1.html
-rw-------  1 christophemorisset  staff       159 Feb 11 21:45 ex1.py
-rw-------  1 christophemorisset  staff         8 Feb 11 09:43 ex1.txt
-rw-------  1 christophemorisset  staff       201 Feb 11 11:57 ex2.py
-rw-r--r--  1 christophemorisset  staff        39 Feb 13 09:14 ex3.py
-rw-------  1 christophemorisset  staff        73 Mar 24 18:10 fact.py
-rw-------  1 christophemorisset  staff      4214 Feb 11 09:43 grep.py
-rw-------  1 christophemorisset  staff      4995 Feb 11 09:43 grep2.py
-rw-------  1 christophemorisset  staff      6319 Feb 11 09:43 grep3.py
-rw-------  1 christophemorisset  staff        49 Feb 11 09:43 hello.py
-rw-------  1 christophemorisset  staff      1090 Feb 11 09:43 hellofortran.c
-rw-------  1 christophemorisset  staff       178 Feb 11 09:43 hellofortran.f
-rw-------  1 christophemorisset  staff     33976 Feb 11 09:43 hellofortran.so
-rw-------  1 christophemorisset  staff       150 Feb 11 09:43 index.html
-rw-------  1 christophemorisset  staff   3729108 Mar 11 11:38 intro_Matplotlib.ipynb
-rw-------  1 christophemorisset  staff   1677612 Feb 11 09:43 intro_Matplotlib.pdf
-rw-------  1 christophemorisset  staff    326924 Feb 11 09:43 intro_Python.html
-rw-------  1 christophemorisset  staff    112578 Feb 13 09:17 intro_Python.ipynb
-rw-------  1 christophemorisset  staff    119242 Feb 11 09:43 intro_Python.pdf
-rw-------  1 christophemorisset  staff    179449 Feb 11 09:43 intro_Python_2.pdf
-rw-------  1 christophemorisset  staff    103229 Feb 11 09:43 intro_Python_3.pdf
-rw-------  1 christophemorisset  staff    884823 Mar 18 11:45 intro_Scipy.ipynb
-rw-------  1 christophemorisset  staff    683346 Feb 11 09:43 intro_Scipy.pdf
-rw-------  1 christophemorisset  staff    125046 Feb 19 15:24 intro_numpy.ipynb
-rw-------  1 christophemorisset  staff    128064 Feb 11 09:43 intro_numpy.pdf
drwx------  3 christophemorisset  staff        96 Feb 11 10:06 mastDownload
-rw-------  1 christophemorisset  staff   8830080 Feb 11 09:43 n10017o.fits
-rw-------  1 christophemorisset  staff      5760 Feb 25 12:59 new.fits
-rw-------  1 christophemorisset  staff    435801 Feb 11 09:43 query_res.dat
-rw-------  1 christophemorisset  staff   1538520 Mar 11 11:28 scatter.pdf
-rw-------  1 christophemorisset  staff    129658 Mar 11 11:28 scatter.png
-rw-------  1 christophemorisset  staff    860498 Mar 11 11:28 scatter3.png
-rw-------  1 christophemorisset  staff   1059840 Feb 11 09:43 swp04345.mxhi
-rw-------  1 christophemorisset  staff        47 Mar 24 18:09 sys_text.py
-rw-------  1 christophemorisset  staff       354 Feb 11 09:43 tab1.dat
-rw-------  1 christophemorisset  staff       668 Feb 11 09:43 tab_cds1.ascii
-rw-------  1 christophemorisset  staff     43200 Feb 11 09:43 tab_cds1.fits
-rw-------  1 christophemorisset  staff      1334 Feb 11 09:43 tab_cds1.tex
-rw-------  1 christophemorisset  staff      1617 Feb 11 09:43 tab_cds2.ascii

In [85]:
var0 = subprocess.run(['ls', '-l'], capture_output=True, text=True)

In [86]:
print(var0.stdout)

total 134120
-rw-------  1 christophemorisset  staff    735972 Feb 11 09:43 ANN.ipynb
-rw-------  1 christophemorisset  staff    173771 Feb 11 09:43 ANN_1_2.png
-rw-------  1 christophemorisset  staff     20137 Feb 11 09:43 Calling Fortran.ipynb
-rw-------  1 christophemorisset  staff     86815 Feb 11 09:43 Calling Fortran.pdf
-rw-------  1 christophemorisset  staff   3600128 Feb 11 09:43 DR9_photo-z-small.npy
-rw-------  1 christophemorisset  staff       217 Feb 25 12:46 Demo.pickle
-rw-------  1 christophemorisset  staff       194 Feb 25 12:45 Demo.pklz
-rw-------  1 christophemorisset  staff       445 Feb 11 09:43 Evaluacion.ipynb
-rw-------  1 christophemorisset  staff      7717 Feb 11 09:43 Ex1.ipynb
-rw-------  1 christophemorisset  staff    381664 Feb 11 09:43 Ex1_done.ipynb
-rw-------  1 christophemorisset  staff    315341 Feb 11 09:43 Ex1_with_res.ipynb
-rw-------  1 christophemorisset  staff    120910 Mar 11 11:13 Fig1.pdf
-rw-------  1 christophemorisset  staff     23342 Feb 11 09:43 Galaxies_classification.ipynb
-rw-------  1 christophemorisset  staff   1177040 Feb 11 09:43 HII.dat
-rw-------  1 christophemorisset  staff    853215 Feb 11 09:43 InstallPython.key
-rw-------  1 christophemorisset  staff    709810 Mar 11 16:57 Interact with files.ipynb
-rw-------  1 christophemorisset  staff    432747 Feb 11 09:43 Interact with files.pdf
-rw-------  1 christophemorisset  staff    131497 Feb 11 09:43 Intro_1.odp
-rw-------  1 christophemorisset  staff    174202 Feb 11 09:43 Intro_1.pdf
-rw-------  1 christophemorisset  staff    130234 Feb 11 09:43 Intro_2014.odp
-rw-------  1 christophemorisset  staff   1477306 Feb 11 09:43 Machine Learning.pdf
-rw-------  1 christophemorisset  staff   1698962 Feb 11 09:43 MySQL 2.pdf
-rw-------  1 christophemorisset  staff    108782 Feb 11 09:43 MySQL.pdf
-rw-------  1 christophemorisset  staff   1166839 Feb 11 09:43 OOP.ipynb
-rw-------  1 christophemorisset  staff    536767 Feb 11 09:43 OOP.pdf
-rw-------  1 christophemorisset  staff     98792 Feb 11 09:43 Optimization.ipynb
-rw-------  1 christophemorisset  staff    481656 Feb 11 09:43 Optimization.pdf
-rw-------  1 christophemorisset  staff      2537 Feb 11 09:43 Parallel.ipynb
-rw-------  1 christophemorisset  staff    158652 Feb 11 09:43 Redshifts.ipynb
-rw-------  1 christophemorisset  staff    939003 Feb 11 09:43 Redshifts_ai4neb.ipynb
-rw-------  1 christophemorisset  staff      6120 Feb 11 09:43 Tarea_1.ipynb
-rw-------  1 christophemorisset  staff      1434 Feb 11 09:43 Test-Install.ipynb
-rw-------  1 christophemorisset  staff    714987 Mar 24 18:17 Useful_libraries.ipynb
-rw-------  1 christophemorisset  staff    514073 Feb 11 09:43 Useful_libraries.pdf
-rw-------  1 christophemorisset  staff    120874 Feb 11 09:43 Using_SQLalchemy.ipynb
-rw-------  1 christophemorisset  staff     80302 Feb 11 09:43 Using_SQLalchemy.pdf
-rw-------  1 christophemorisset  staff    253353 Feb 11 09:43 Using_astropy.ipynb
-rw-------  1 christophemorisset  staff    208399 Feb 11 09:43 Using_astropy.pdf
-rw-------  1 christophemorisset  staff     93320 Feb 11 09:43 Using_astroquery.ipynb
-rw-------  1 christophemorisset  staff     70028 Feb 11 09:43 Using_astroquery.pdf
drwx------  5 christophemorisset  staff       160 Feb 13 09:15 __pycache__
-rw-------  1 christophemorisset  staff       114 Feb 11 09:43 call_test_2_err.py
-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-early.npy
-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-late.npy
-rw-------  1 christophemorisset  staff        65 Feb 25 10:15 data1.dat
-rw-------  1 christophemorisset  staff        14 Feb 25 12:22 data10.dat
-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat
-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat.gz
-rw-------  1 christophemorisset  staff       148 Feb 25 12:32 data12.dat
-rw-------  1 christophemorisset  staff       148 Feb 25 10:39 data2.dat
-rw-------  1 christophemorisset  staff       165 Feb 25 11:42 data3.dat
-rw-------  1 christophemorisset  staff      1188 Feb 25 12:09 data4.dat
-rw-------  1 christophemorisset  staff      1186 Feb 25 12:11 data5.dat
-rw-------  1 christophemorisset  staff       298 Feb 11 09:43 dcumsum.f
-rw-------  1 christophemorisset  staff      1206 Feb 11 11:36 ex1.html
-rw-------  1 christophemorisset  staff       159 Feb 11 21:45 ex1.py
-rw-------  1 christophemorisset  staff         8 Feb 11 09:43 ex1.txt
-rw-------  1 christophemorisset  staff       201 Feb 11 11:57 ex2.py
-rw-r--r--  1 christophemorisset  staff        39 Feb 13 09:14 ex3.py
-rw-------  1 christophemorisset  staff        73 Mar 24 18:10 fact.py
-rw-------  1 christophemorisset  staff      4214 Feb 11 09:43 grep.py
-rw-------  1 christophemorisset  staff      4995 Feb 11 09:43 grep2.py
-rw-------  1 christophemorisset  staff      6319 Feb 11 09:43 grep3.py
-rw-------  1 christophemorisset  staff        49 Feb 11 09:43 hello.py
-rw-------  1 christophemorisset  staff      1090 Feb 11 09:43 hellofortran.c
-rw-------  1 christophemorisset  staff       178 Feb 11 09:43 hellofortran.f
-rw-------  1 christophemorisset  staff     33976 Feb 11 09:43 hellofortran.so
-rw-------  1 christophemorisset  staff       150 Feb 11 09:43 index.html
-rw-------  1 christophemorisset  staff   3729108 Mar 11 11:38 intro_Matplotlib.ipynb
-rw-------  1 christophemorisset  staff   1677612 Feb 11 09:43 intro_Matplotlib.pdf
-rw-------  1 christophemorisset  staff    326924 Feb 11 09:43 intro_Python.html
-rw-------  1 christophemorisset  staff    112578 Feb 13 09:17 intro_Python.ipynb
-rw-------  1 christophemorisset  staff    119242 Feb 11 09:43 intro_Python.pdf
-rw-------  1 christophemorisset  staff    179449 Feb 11 09:43 intro_Python_2.pdf
-rw-------  1 christophemorisset  staff    103229 Feb 11 09:43 intro_Python_3.pdf
-rw-------  1 christophemorisset  staff    884823 Mar 18 11:45 intro_Scipy.ipynb
-rw-------  1 christophemorisset  staff    683346 Feb 11 09:43 intro_Scipy.pdf
-rw-------  1 christophemorisset  staff    125046 Feb 19 15:24 intro_numpy.ipynb
-rw-------  1 christophemorisset  staff    128064 Feb 11 09:43 intro_numpy.pdf
drwx------  3 christophemorisset  staff        96 Feb 11 10:06 mastDownload
-rw-------  1 christophemorisset  staff   8830080 Feb 11 09:43 n10017o.fits
-rw-------  1 christophemorisset  staff      5760 Feb 25 12:59 new.fits
-rw-------  1 christophemorisset  staff    435801 Feb 11 09:43 query_res.dat
-rw-------  1 christophemorisset  staff   1538520 Mar 11 11:28 scatter.pdf
-rw-------  1 christophemorisset  staff    129658 Mar 11 11:28 scatter.png
-rw-------  1 christophemorisset  staff    860498 Mar 11 11:28 scatter3.png
-rw-------  1 christophemorisset  staff   1059840 Feb 11 09:43 swp04345.mxhi
-rw-------  1 christophemorisset  staff        47 Mar 24 18:09 sys_text.py
-rw-------  1 christophemorisset  staff       354 Feb 11 09:43 tab1.dat
-rw-------  1 christophemorisset  staff       668 Feb 11 09:43 tab_cds1.ascii
-rw-------  1 christophemorisset  staff     43200 Feb 11 09:43 tab_cds1.fits
-rw-------  1 christophemorisset  staff      1334 Feb 11 09:43 tab_cds1.tex
-rw-------  1 christophemorisset  staff      1617 Feb 11 09:43 tab_cds2.ascii

If you do not want to wait untill the command finishes, use Popen. It starts the command, and communicate() is transmiting the response of the command.

In [88]:
command = 'ls -l'
popen = subprocess.Popen(command, shell=True)
print(popen)

<Popen: returncode: None args: 'ls -l'>

In [89]:
popen = subprocess.Popen(command, stdout=subprocess.PIPE, shell=True)
res = popen.communicate()[0]
print(type(res))
print('-'*20)
print(res)
print('-'*20)
print(res.decode())

<class 'bytes'>
--------------------
b'total 134064\n-rw-------  1 christophemorisset  staff    735972 Feb 11 09:43 ANN.ipynb\n-rw-------  1 christophemorisset  staff    173771 Feb 11 09:43 ANN_1_2.png\n-rw-------  1 christophemorisset  staff     20137 Feb 11 09:43 Calling Fortran.ipynb\n-rw-------  1 christophemorisset  staff     86815 Feb 11 09:43 Calling Fortran.pdf\n-rw-------  1 christophemorisset  staff   3600128 Feb 11 09:43 DR9_photo-z-small.npy\n-rw-------  1 christophemorisset  staff       217 Feb 25 12:46 Demo.pickle\n-rw-------  1 christophemorisset  staff       194 Feb 25 12:45 Demo.pklz\n-rw-------  1 christophemorisset  staff       445 Feb 11 09:43 Evaluacion.ipynb\n-rw-------  1 christophemorisset  staff      7717 Feb 11 09:43 Ex1.ipynb\n-rw-------  1 christophemorisset  staff    381664 Feb 11 09:43 Ex1_done.ipynb\n-rw-------  1 christophemorisset  staff    315341 Feb 11 09:43 Ex1_with_res.ipynb\n-rw-------  1 christophemorisset  staff    120910 Mar 11 11:13 Fig1.pdf\n-rw-------  1 christophemorisset  staff     23342 Feb 11 09:43 Galaxies_classification.ipynb\n-rw-------  1 christophemorisset  staff   1177040 Feb 11 09:43 HII.dat\n-rw-------  1 christophemorisset  staff    853215 Feb 11 09:43 InstallPython.key\n-rw-------  1 christophemorisset  staff    709810 Mar 11 16:57 Interact with files.ipynb\n-rw-------  1 christophemorisset  staff    432747 Feb 11 09:43 Interact with files.pdf\n-rw-------  1 christophemorisset  staff    131497 Feb 11 09:43 Intro_1.odp\n-rw-------  1 christophemorisset  staff    174202 Feb 11 09:43 Intro_1.pdf\n-rw-------  1 christophemorisset  staff    130234 Feb 11 09:43 Intro_2014.odp\n-rw-------  1 christophemorisset  staff   1477306 Feb 11 09:43 Machine Learning.pdf\n-rw-------  1 christophemorisset  staff   1698962 Feb 11 09:43 MySQL 2.pdf\n-rw-------  1 christophemorisset  staff    108782 Feb 11 09:43 MySQL.pdf\n-rw-------  1 christophemorisset  staff   1166839 Feb 11 09:43 OOP.ipynb\n-rw-------  1 christophemorisset  staff    536767 Feb 11 09:43 OOP.pdf\n-rw-------  1 christophemorisset  staff     98792 Feb 11 09:43 Optimization.ipynb\n-rw-------  1 christophemorisset  staff    481656 Feb 11 09:43 Optimization.pdf\n-rw-------  1 christophemorisset  staff      2537 Feb 11 09:43 Parallel.ipynb\n-rw-------  1 christophemorisset  staff    158652 Feb 11 09:43 Redshifts.ipynb\n-rw-------  1 christophemorisset  staff    939003 Feb 11 09:43 Redshifts_ai4neb.ipynb\n-rw-------  1 christophemorisset  staff      6120 Feb 11 09:43 Tarea_1.ipynb\n-rw-------  1 christophemorisset  staff      1434 Feb 11 09:43 Test-Install.ipynb\n-rw-------  2 christophemorisset  staff    686851 Mar 24 18:23 Useful_libraries.ipynb\n-rw-------  1 christophemorisset  staff    514073 Feb 11 09:43 Useful_libraries.pdf\n-rw-------  1 christophemorisset  staff    120874 Feb 11 09:43 Using_SQLalchemy.ipynb\n-rw-------  1 christophemorisset  staff     80302 Feb 11 09:43 Using_SQLalchemy.pdf\n-rw-------  1 christophemorisset  staff    253353 Feb 11 09:43 Using_astropy.ipynb\n-rw-------  1 christophemorisset  staff    208399 Feb 11 09:43 Using_astropy.pdf\n-rw-------  1 christophemorisset  staff     93320 Feb 11 09:43 Using_astroquery.ipynb\n-rw-------  1 christophemorisset  staff     70028 Feb 11 09:43 Using_astroquery.pdf\ndrwx------  5 christophemorisset  staff       160 Feb 13 09:15 \x1b[34m__pycache__\x1b[m\x1b[m\n-rw-------  1 christophemorisset  staff       114 Feb 11 09:43 call_test_2_err.py\n-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-early.npy\n-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-late.npy\n-rw-------  1 christophemorisset  staff        65 Feb 25 10:15 data1.dat\n-rw-------  1 christophemorisset  staff        14 Feb 25 12:22 data10.dat\n-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat\n-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat.gz\n-rw-------  1 christophemorisset  staff       148 Feb 25 12:32 data12.dat\n-rw-------  1 christophemorisset  staff       148 Feb 25 10:39 data2.dat\n-rw-------  1 christophemorisset  staff       165 Feb 25 11:42 data3.dat\n-rw-------  1 christophemorisset  staff      1188 Feb 25 12:09 data4.dat\n-rw-------  1 christophemorisset  staff      1186 Feb 25 12:11 data5.dat\n-rw-------  1 christophemorisset  staff       298 Feb 11 09:43 dcumsum.f\n-rw-------  1 christophemorisset  staff      1206 Feb 11 11:36 ex1.html\n-rw-------  1 christophemorisset  staff       159 Feb 11 21:45 ex1.py\n-rw-------  1 christophemorisset  staff         8 Feb 11 09:43 ex1.txt\n-rw-------  1 christophemorisset  staff       201 Feb 11 11:57 ex2.py\n-rw-r--r--  1 christophemorisset  staff        39 Feb 13 09:14 ex3.py\n-rw-------  1 christophemorisset  staff        73 Mar 24 18:10 fact.py\n-rw-------  1 christophemorisset  staff      4214 Feb 11 09:43 grep.py\n-rw-------  1 christophemorisset  staff      4995 Feb 11 09:43 grep2.py\n-rw-------  1 christophemorisset  staff      6319 Feb 11 09:43 grep3.py\n-rw-------  1 christophemorisset  staff        49 Feb 11 09:43 hello.py\n-rw-------  1 christophemorisset  staff      1090 Feb 11 09:43 hellofortran.c\n-rw-------  1 christophemorisset  staff       178 Feb 11 09:43 hellofortran.f\n-rw-------  1 christophemorisset  staff     33976 Feb 11 09:43 hellofortran.so\n-rw-------  1 christophemorisset  staff       150 Feb 11 09:43 index.html\n-rw-------  1 christophemorisset  staff   3729108 Mar 11 11:38 intro_Matplotlib.ipynb\n-rw-------  1 christophemorisset  staff   1677612 Feb 11 09:43 intro_Matplotlib.pdf\n-rw-------  1 christophemorisset  staff    326924 Feb 11 09:43 intro_Python.html\n-rw-------  1 christophemorisset  staff    112578 Feb 13 09:17 intro_Python.ipynb\n-rw-------  1 christophemorisset  staff    119242 Feb 11 09:43 intro_Python.pdf\n-rw-------  1 christophemorisset  staff    179449 Feb 11 09:43 intro_Python_2.pdf\n-rw-------  1 christophemorisset  staff    103229 Feb 11 09:43 intro_Python_3.pdf\n-rw-------  1 christophemorisset  staff    884823 Mar 18 11:45 intro_Scipy.ipynb\n-rw-------  1 christophemorisset  staff    683346 Feb 11 09:43 intro_Scipy.pdf\n-rw-------  1 christophemorisset  staff    125046 Feb 19 15:24 intro_numpy.ipynb\n-rw-------  1 christophemorisset  staff    128064 Feb 11 09:43 intro_numpy.pdf\ndrwx------  3 christophemorisset  staff        96 Feb 11 10:06 \x1b[34mmastDownload\x1b[m\x1b[m\n-rw-------  1 christophemorisset  staff   8830080 Feb 11 09:43 n10017o.fits\n-rw-------  1 christophemorisset  staff      5760 Feb 25 12:59 new.fits\n-rw-------  1 christophemorisset  staff    435801 Feb 11 09:43 query_res.dat\n-rw-------  1 christophemorisset  staff   1538520 Mar 11 11:28 scatter.pdf\n-rw-------  1 christophemorisset  staff    129658 Mar 11 11:28 scatter.png\n-rw-------  1 christophemorisset  staff    860498 Mar 11 11:28 scatter3.png\n-rw-------  1 christophemorisset  staff   1059840 Feb 11 09:43 swp04345.mxhi\n-rw-------  1 christophemorisset  staff        47 Mar 24 18:09 sys_text.py\n-rw-------  1 christophemorisset  staff       354 Feb 11 09:43 tab1.dat\n-rw-------  1 christophemorisset  staff       668 Feb 11 09:43 tab_cds1.ascii\n-rw-------  1 christophemorisset  staff     43200 Feb 11 09:43 tab_cds1.fits\n-rw-------  1 christophemorisset  staff      1334 Feb 11 09:43 tab_cds1.tex\n-rw-------  1 christophemorisset  staff      1617 Feb 11 09:43 tab_cds2.ascii\n'
--------------------
total 134064
-rw-------  1 christophemorisset  staff    735972 Feb 11 09:43 ANN.ipynb
-rw-------  1 christophemorisset  staff    173771 Feb 11 09:43 ANN_1_2.png
-rw-------  1 christophemorisset  staff     20137 Feb 11 09:43 Calling Fortran.ipynb
-rw-------  1 christophemorisset  staff     86815 Feb 11 09:43 Calling Fortran.pdf
-rw-------  1 christophemorisset  staff   3600128 Feb 11 09:43 DR9_photo-z-small.npy
-rw-------  1 christophemorisset  staff       217 Feb 25 12:46 Demo.pickle
-rw-------  1 christophemorisset  staff       194 Feb 25 12:45 Demo.pklz
-rw-------  1 christophemorisset  staff       445 Feb 11 09:43 Evaluacion.ipynb
-rw-------  1 christophemorisset  staff      7717 Feb 11 09:43 Ex1.ipynb
-rw-------  1 christophemorisset  staff    381664 Feb 11 09:43 Ex1_done.ipynb
-rw-------  1 christophemorisset  staff    315341 Feb 11 09:43 Ex1_with_res.ipynb
-rw-------  1 christophemorisset  staff    120910 Mar 11 11:13 Fig1.pdf
-rw-------  1 christophemorisset  staff     23342 Feb 11 09:43 Galaxies_classification.ipynb
-rw-------  1 christophemorisset  staff   1177040 Feb 11 09:43 HII.dat
-rw-------  1 christophemorisset  staff    853215 Feb 11 09:43 InstallPython.key
-rw-------  1 christophemorisset  staff    709810 Mar 11 16:57 Interact with files.ipynb
-rw-------  1 christophemorisset  staff    432747 Feb 11 09:43 Interact with files.pdf
-rw-------  1 christophemorisset  staff    131497 Feb 11 09:43 Intro_1.odp
-rw-------  1 christophemorisset  staff    174202 Feb 11 09:43 Intro_1.pdf
-rw-------  1 christophemorisset  staff    130234 Feb 11 09:43 Intro_2014.odp
-rw-------  1 christophemorisset  staff   1477306 Feb 11 09:43 Machine Learning.pdf
-rw-------  1 christophemorisset  staff   1698962 Feb 11 09:43 MySQL 2.pdf
-rw-------  1 christophemorisset  staff    108782 Feb 11 09:43 MySQL.pdf
-rw-------  1 christophemorisset  staff   1166839 Feb 11 09:43 OOP.ipynb
-rw-------  1 christophemorisset  staff    536767 Feb 11 09:43 OOP.pdf
-rw-------  1 christophemorisset  staff     98792 Feb 11 09:43 Optimization.ipynb
-rw-------  1 christophemorisset  staff    481656 Feb 11 09:43 Optimization.pdf
-rw-------  1 christophemorisset  staff      2537 Feb 11 09:43 Parallel.ipynb
-rw-------  1 christophemorisset  staff    158652 Feb 11 09:43 Redshifts.ipynb
-rw-------  1 christophemorisset  staff    939003 Feb 11 09:43 Redshifts_ai4neb.ipynb
-rw-------  1 christophemorisset  staff      6120 Feb 11 09:43 Tarea_1.ipynb
-rw-------  1 christophemorisset  staff      1434 Feb 11 09:43 Test-Install.ipynb
-rw-------  2 christophemorisset  staff    686851 Mar 24 18:23 Useful_libraries.ipynb
-rw-------  1 christophemorisset  staff    514073 Feb 11 09:43 Useful_libraries.pdf
-rw-------  1 christophemorisset  staff    120874 Feb 11 09:43 Using_SQLalchemy.ipynb
-rw-------  1 christophemorisset  staff     80302 Feb 11 09:43 Using_SQLalchemy.pdf
-rw-------  1 christophemorisset  staff    253353 Feb 11 09:43 Using_astropy.ipynb
-rw-------  1 christophemorisset  staff    208399 Feb 11 09:43 Using_astropy.pdf
-rw-------  1 christophemorisset  staff     93320 Feb 11 09:43 Using_astroquery.ipynb
-rw-------  1 christophemorisset  staff     70028 Feb 11 09:43 Using_astroquery.pdf
drwx------  5 christophemorisset  staff       160 Feb 13 09:15 __pycache__
-rw-------  1 christophemorisset  staff       114 Feb 11 09:43 call_test_2_err.py
-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-early.npy
-rw-------  1 christophemorisset  staff  14794880 Feb 11 09:43 cosmo-late.npy
-rw-------  1 christophemorisset  staff        65 Feb 25 10:15 data1.dat
-rw-------  1 christophemorisset  staff        14 Feb 25 12:22 data10.dat
-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat
-rw-------  1 christophemorisset  staff        16 Feb 25 12:36 data11.dat.gz
-rw-------  1 christophemorisset  staff       148 Feb 25 12:32 data12.dat
-rw-------  1 christophemorisset  staff       148 Feb 25 10:39 data2.dat
-rw-------  1 christophemorisset  staff       165 Feb 25 11:42 data3.dat
-rw-------  1 christophemorisset  staff      1188 Feb 25 12:09 data4.dat
-rw-------  1 christophemorisset  staff      1186 Feb 25 12:11 data5.dat
-rw-------  1 christophemorisset  staff       298 Feb 11 09:43 dcumsum.f
-rw-------  1 christophemorisset  staff      1206 Feb 11 11:36 ex1.html
-rw-------  1 christophemorisset  staff       159 Feb 11 21:45 ex1.py
-rw-------  1 christophemorisset  staff         8 Feb 11 09:43 ex1.txt
-rw-------  1 christophemorisset  staff       201 Feb 11 11:57 ex2.py
-rw-r--r--  1 christophemorisset  staff        39 Feb 13 09:14 ex3.py
-rw-------  1 christophemorisset  staff        73 Mar 24 18:10 fact.py
-rw-------  1 christophemorisset  staff      4214 Feb 11 09:43 grep.py
-rw-------  1 christophemorisset  staff      4995 Feb 11 09:43 grep2.py
-rw-------  1 christophemorisset  staff      6319 Feb 11 09:43 grep3.py
-rw-------  1 christophemorisset  staff        49 Feb 11 09:43 hello.py
-rw-------  1 christophemorisset  staff      1090 Feb 11 09:43 hellofortran.c
-rw-------  1 christophemorisset  staff       178 Feb 11 09:43 hellofortran.f
-rw-------  1 christophemorisset  staff     33976 Feb 11 09:43 hellofortran.so
-rw-------  1 christophemorisset  staff       150 Feb 11 09:43 index.html
-rw-------  1 christophemorisset  staff   3729108 Mar 11 11:38 intro_Matplotlib.ipynb
-rw-------  1 christophemorisset  staff   1677612 Feb 11 09:43 intro_Matplotlib.pdf
-rw-------  1 christophemorisset  staff    326924 Feb 11 09:43 intro_Python.html
-rw-------  1 christophemorisset  staff    112578 Feb 13 09:17 intro_Python.ipynb
-rw-------  1 christophemorisset  staff    119242 Feb 11 09:43 intro_Python.pdf
-rw-------  1 christophemorisset  staff    179449 Feb 11 09:43 intro_Python_2.pdf
-rw-------  1 christophemorisset  staff    103229 Feb 11 09:43 intro_Python_3.pdf
-rw-------  1 christophemorisset  staff    884823 Mar 18 11:45 intro_Scipy.ipynb
-rw-------  1 christophemorisset  staff    683346 Feb 11 09:43 intro_Scipy.pdf
-rw-------  1 christophemorisset  staff    125046 Feb 19 15:24 intro_numpy.ipynb
-rw-------  1 christophemorisset  staff    128064 Feb 11 09:43 intro_numpy.pdf
drwx------  3 christophemorisset  staff        96 Feb 11 10:06 mastDownload
-rw-------  1 christophemorisset  staff   8830080 Feb 11 09:43 n10017o.fits
-rw-------  1 christophemorisset  staff      5760 Feb 25 12:59 new.fits
-rw-------  1 christophemorisset  staff    435801 Feb 11 09:43 query_res.dat
-rw-------  1 christophemorisset  staff   1538520 Mar 11 11:28 scatter.pdf
-rw-------  1 christophemorisset  staff    129658 Mar 11 11:28 scatter.png
-rw-------  1 christophemorisset  staff    860498 Mar 11 11:28 scatter3.png
-rw-------  1 christophemorisset  staff   1059840 Feb 11 09:43 swp04345.mxhi
-rw-------  1 christophemorisset  staff        47 Mar 24 18:09 sys_text.py
-rw-------  1 christophemorisset  staff       354 Feb 11 09:43 tab1.dat
-rw-------  1 christophemorisset  staff       668 Feb 11 09:43 tab_cds1.ascii
-rw-------  1 christophemorisset  staff     43200 Feb 11 09:43 tab_cds1.fits
-rw-------  1 christophemorisset  staff      1334 Feb 11 09:43 tab_cds1.tex
-rw-------  1 christophemorisset  staff      1617 Feb 11 09:43 tab_cds2.ascii

In [97]:
popen = subprocess.Popen(command, stdout=subprocess.PIPE, shell=True)
res = popen.communicate()[0]
for line in res.decode().split('\n'):
    lspl = line.split()
    if len(lspl)> 4:
        if int(lspl[4]) > 1000000:
            print(f"{lspl[8]:30s} -> {lspl[4]}")

DR9_photo-z-small.npy          -> 3600128
HII.dat                        -> 1177040
Machine                        -> 1477306
MySQL                          -> 1698962
OOP.ipynb                      -> 1166839
cosmo-early.npy                -> 14794880
cosmo-late.npy                 -> 14794880
intro_Matplotlib.ipynb         -> 3729108
intro_Matplotlib.pdf           -> 1677612
n10017o.fits                   -> 8830080
scatter.pdf                    -> 1538520
swp04345.mxhi                  -> 1059840

### re

The re module provides regular expression tools for advanced string processing. For complex matching and manipulation, regular expressions offer succinct, optimized solutions:

In [105]:
import re
text = 'whifch foOt or hand fell f fastest'
# Search the words starting with "f"
matches = re.findall(r'\bf[a-z]*', text)
print(matches)
matches = re.findall(r'\b[fF]\w*', text)
print(matches)

['fo', 'fell', 'f', 'fastest']
['foOt', 'fell', 'f', 'fastest']

In [108]:
# Remove duplicate words
text = 'cat in the the hat the'
print(re.sub(r'(\b[a-z]+) \1', r'\1', text))

cat in the hat the

More in https://docs.python.org/3/library/re.html

### urllib

In [109]:
from urllib.request import urlopen

In [110]:
for line in urlopen('http://dev.on-rev.com/myip.irev'):
    print(line)
    if 'IP' in str(line):
        IP = str(line).split(':')[1][:-7]
print('-------')
print(IP)

b'<html>\n'
b'<body>\n'
b'<p>\n'
b'Remote IP Address:187.225.196.161</p>\n'
b'</body>\n'
b'</html>'
-------
187.225.196.161

### Tables with power: pandas at https://pandas.pydata.org/

Tutorials: 
* https://pandas.pydata.org/docs/user_guide/10min.html
* https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

In [196]:
import pandas as pd

In [246]:
%%writefile data2.dat
# The following data are for test purpose
N    f   x   y type
1   2.3  6   8 star
22   3.5  7   9 galaxy
3  -4.2  5   7 cluster
5  4.55 5 7 cluster
4  -10.5  5  7 star
4  -10.55  5  7 star
#4  -10.5  5  7 test

Overwriting data2.dat

In [283]:
# The N column is used as index. It is not mandatory to have an index defined, if not, pandas will create one.
df = pd.read_csv('data2.dat', comment='#', sep='\\s+', index_col = 'N')

In [284]:
df

        f  x  y     type
N
1    2.30  6  8     star
22   3.50  7  9   galaxy
3   -4.20  5  7  cluster
5    4.55  5  7  cluster
4  -10.50  5  7     star
4  -10.55  5  7     star

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 1 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f       6 non-null      float64
 1   x       6 non-null      int64
 2   y       6 non-null      int64
 3   type    6 non-null      object
dtypes: float64(1), int64(2), object(1)
memory usage: 240.0+ bytes

In [286]:
df.describe()

               f        x        y
count   6.000000  6.00000  6.00000
mean   -2.483333  5.50000  7.50000
std     6.934455  0.83666  0.83666
min   -10.550000  5.00000  7.00000
25%    -8.925000  5.00000  7.00000
50%    -0.950000  5.00000  7.00000
75%     3.200000  5.75000  7.75000
max     4.550000  7.00000  9.00000

In [287]:
df['R'] = np.sqrt(df['x']**2 + df.y**2)

In [288]:
# index no needs to be unique
df.index

Index([1, 22, 3, 5, 4, 4], dtype='int64', name='N')

In [289]:
# Access rows by the index
df.loc[4]

       f  x  y  type         R
N
4 -10.50  5  7  star  8.602325
4 -10.55  5  7  star  8.602325

In [290]:
# Access rows by position
df.iloc[1:3]

      f  x  y     type          R
N
22  3.5  7  9   galaxy  11.401754
3  -4.2  5  7  cluster   8.602325

In [291]:
df.iloc[4]['type']

'star'

In [292]:
mask = df['type'] == 'star'
mask_arr = mask.to_numpy()
print(mask)
print(mask_arr)

N
1      True
22    False
3     False
5     False
4      True
4      True
Name: type, dtype: bool
[ True False False False  True  True]

In [294]:
df[mask]['type'] = 'estrella'

/var/folders/7b/7gktm_g91hn54p3gxj15kb1m0000gn/T/ipykernel_52048/242906856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[mask]['type'] = 'estrella'

In [304]:
df.loc[mask,'type'] = 'estrella'
# df[mask]['type'] = 'estrella' # this will not work
# df[mask_arr]['type'] = 'estrella' # this will not work

In [305]:
df

        f  x  y      type          R
N
1    2.30  6  8  estrella  10.000000
22   3.50  7  9    galaxy  11.401754
3   -4.20  5  7   cluster   8.602325
5    4.55  5  7   cluster   8.602325
4  -10.50  5  7  estrella   8.602325
4  -10.55  5  7  estrella   8.602325

In [306]:
df[mask]['R']

N
1    10.000000
4     8.602325
4     8.602325
Name: R, dtype: float64

In [307]:
df.loc[mask,'R'].to_numpy()

array([10.        ,  8.60232527,  8.60232527])

In [308]:
coord_cols = ['x', 'y']
df.loc[mask, coord_cols].mean()

x    5.333333
y    7.333333
dtype: float64

In [317]:
df.columns

Index(['f', 'x', 'y', 'type', 'R'], dtype='object')

In [318]:
df.groupby('type')[df.columns].apply(print)

      f  x  y     type         R
N
3 -4.20  5  7  cluster  8.602325
5  4.55  5  7  cluster  8.602325
       f  x  y      type          R
N
1   2.30  6  8  estrella  10.000000
4 -10.50  5  7  estrella   8.602325
4 -10.55  5  7  estrella   8.602325
      f  x  y    type          R
N
22  3.5  7  9  galaxy  11.401754

Empty DataFrame
Columns: []
Index: []

In [312]:
df.groupby('type').mean()

              f         x         y          R
type
cluster   0.175  5.000000  7.000000   8.602325
estrella -6.250  5.333333  7.333333   9.068217
galaxy    3.500  7.000000  9.000000  11.401754